.flex {
  display: flex;
}

.left-landing-center {
  justify-content: center;
  height: 90vh;
  flex-direction: column;
}

.titulo {
  color: var(--color-text-purple-dark);
  width: 55rem;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
}

.subtitulo {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 38px;
  width: 38rem;
  margin-top: 2.8rem;
  margin-bottom: 2.8rem;
}

.botao {
  width: 360px;
  height: 72px;
  border-radius: 8px;
  background-color: var(--color-text-purple-light);
  justify-content: space-between;
  color: white;
}

.botao-left {
  width: 72px;
  height: 72px;
  background: #7d96e0;
  border-radius: 8px 0px 0px 8px;
  align-items: center;
  justify-content: center;
}

.botao-right {
  background-color: #8ea5eb;
  width: 100%;
  height: 72px;
  border-radius: 0px 8px 8px 0px;
  align-items: center;
  justify-content: center;
}

.botao-right-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
}

.vectorLanding {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vectorLandingImg {
  width: 100%;
}
